body{
    background-color: #000;
}
.App {
    text-align: center;
    background-color: #000000;
  }
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    /* text-shadow: 1px 1px 1px white; */
  }

 h2{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
  .startbutton{
    border: none;
    font-size: 60px;
    margin-top: 400px;
    color:white;
    background: black;
    animation: blink 1s 3s;
    animation-delay: 3s;
    animation-play-state: running; 

  } 
  @keyframes blink {
    0%, 100% { 
        opacity: 1; /* Fully visible */
        color:black;
    }
    90% { 
        opacity: 0; /* Invisible */
        color: white;
    }
}
  .startbutton:hover{
    text-shadow: 2px 2px 25px #fff;
    font-size: 70px;
    transition: 0.5s;
    color: white;
    
  }
