/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#intro{
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
      background-position: -500%;
  }
  100% {
      background-position: 500%;
  }
}

/* Start button */
.startbutton {
  border: none;
  font-size: 60px;
  margin-top: 20px;
  color: white;
  background: black;
  animation: blink 1s infinite;
  animation-delay: 2s;
}

.startbutton:hover {
  text-shadow: 2px 2px 35px #fff;
  font-size: 75px;
  transition: 0.3s;
  color: white;
}
.startbutton::after{
  text-shadow: none;
  transition: 0.3s;
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
      color: black;
  }
  90% {
      opacity: 0;
      color: white;
  }
}

a {
  text-decoration: none;
  color: white;
}


/* Skill section styles */
#skill-section {
  text-align: center;
  padding: 20px;
  background-color: #0d1117;
}

#skill-head {
  animation: lightSpeedInRight;
  animation-duration: 2s;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Skill container */
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Individual skill box */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: black;;;;;;;;;;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 150px; /* Adjust width as needed */
}

.skill img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.skill p {
  font-size: 1em;
  margin: 0;
  color: #fff;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 7px rgba(255, 255, 255, 0.493);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #003453;
}
.hero img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.hero-content {
  max-width: 600px;
  margin: 20px;
  text-align: center;
}
.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: #0056b3;
}